<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/banner.js"></script>
  </head>

  <body style="font-family:'하얀분필';">
  <div style="background-color:transparent; width:1888px; position:fixed; z-index:9;">

      <div class="wrapper">
        <a href="index.html"><img src="./img/logo.png" alt="" class="logo"></a>
        <!-- <form class="" action="login.html" method="post">
          <input type="text" name="" value="" class="search" placeholder="연관 검색어를 입력해 주세요">
        </form> -->

      </div>
    </div>
    <button type="button" name="" value="Login" class="login"><a href="/users/login">Login</a></button>
	<!-- <div class="contents">

		  <div class="banner">
		  	<ul>
		  		<li><img src="./img/banner2.jpg" width="1887" height="800px"></li>
          <li><img src="https://d2v80xjmx68n4w.cloudfront.net/gigs/TW3dl1560910231.jpg" width="1887" height="800px"></li>
          <li><img src="https://d2v80xjmx68n4w.cloudfront.net/gigs/m7rGt1536641586.jpg" width="1887" height="800px"></li>
          <li><img src="https://d2v80xjmx68n4w.cloudfront.net/gigs/TW3dl1560910231.jpg" width="1887" height="800px"></li>
	  		</ul>
	  	</div>
	</div> -->

  <div class="box1">
    <div class="box2">
      <div class="box3">
        <span style ="font-size:80px; color:#585858; font-family:'나눔고딕'">Recommend<br>Notice<br>Board</span>
        <br><br>
        <span style ="font-size:20px; color:#585858;">추천 게시판을 DB를 연동하여 시간이 지날 수록 별이 달리게 되고 Top 3를 골라 오른쪽에 표현하였습니다.</span><br>
          <button type="button" name="button" class="add"><a href="board.html">더 알아보기</a></button>
      <div class="box4" style="background: linear-gradient(to right, #acb6e5, #86fde8);">
        <span>추천 게시판</span><br>
        <div class="box5">
          <img src="./img/crown.png" alt="" style="width:50px;">
           여기다가 1순위 넣고
        </div>
        <div class="box5">
          <img src="./img/crown.png" alt="" style="width:50px;">
           여기다가 2순위 넣고
        </div>
        <div class="box5">
          <img src="./img/crown.png" alt="" style="width:50px;">
           여기다가 3순위 넣고
        </div>
      </div>
      </div>
    </div>
  </div>

    <div class="box0">
        <div class="box2"
          <div class="box3">
            <span style ="font-size:80px; color:#ffffff; font-family:'나눔고딕'">Top<br>Shadow<br>Partner</span>
            <br><br>
            <span style ="font-size:20px; color:#ffffff;">별점이 높은 사람들을 별점순으로 정렬하여 이번 달 TOP 3를 모았습니다.<br><br> 남은기간과 나의 별점 등급 확인은 더 알아보기</span><br>
              <button type="button" name="button" class="add"><a href="board.html">더 알아보기</a></button>
          <div class="box4" style="color: white;">
            <span>Top 3 회원</span><br>
            <div class="box5">
              <img src="./img/crown.png" alt="" style="width:50px;">
               여기다가 1순위 넣고
            </div>
            <div class="box5">
              <img src="./img/crown.png" alt="" style="width:50px;">
               여기다가 2순위 넣고
            </div>
            <div class="box5">
              <img src="./img/crown.png" alt="" style="width:50px;">
               여기다가 3순위 넣고
            </div>
          </div>
          </div>
        </div>
    </div>
  <div class="mib">
    GSM 광주광역시 광산구 송정동 상무대로 312 <span style="padding-left:500px; color:black;"> 전화번호 : 010-진짜-건도꺼</span>
    <br> 이메일 : s18010@gsm.hs.kr <span style="padding-left:650px; color:black;">이메일 : 건도@이메일.com </span>


  </div>

</body>
</html>
