<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title></title>
  </head>
<body style="background-color:#E6E6E6">
    <a href="/welcome"><img src="/img/gsm.png" alt="" style="position:absolute;width:300px;top:0px;left:750px; z-index: 10;"></a>
    <div style="font-family:'하얀분필'; position: relative; left:-400px; background-image:url('/img/back5.png');width: 1922px; height: 500px; background-size: 1000px;">
        
        <div class="box6">
            <span style="position:relative; left:50px;top:10px;">포켓볼 순위</span>
            <hr style="
            border: 0;
            height: 2px;
            background: #ccc;
            ">
            <div class="box7">
                1.
                <img src="/img/top.png" alt="" width="300px;" style="position:absolute; left:60px; z-index: 120;">
                <div class="box8"></div>
                <p style="text-align: center; padding-top:270px;">등급 : 창조 신 <br> 포켓볼 갯수 : 3000개</p>
            </div>
            <div class="box7" style="top:-516px; left:400px;">
                2.
                <img src="/img/second.png" alt="" width="300px;" style="position:absolute; left:50px; z-index: 120;">
                <div class="box8"></div>
                <p style="text-align: center; padding-top:270px;">등급 : 시간 신 <br> 포켓볼 갯수 : 2000개</p>
            </div>
            <div class="box7" style="top:-1016px;left:800px;">
                    3.
                    <img src="/img/third.png" alt="" width="300px;" style="position:absolute; left:60px; z-index: 120;">
                    <div class="box8"></div>
                    <p style="text-align: center; padding-top:270px;">등급 : 공간 신 <br> 포켓볼 갯수 : 1000개</p>
            </div>

        </div>
        
    </div>
    <a href="/welcome">


</html>
