<nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/process/boardfind">Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Null</a>
      </li>
    </ul>
</nav>